.container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.mat-card {
  margin-inline: 3%;
}

.mat-form-field {
  width: 100%;
}

.mat-button {
  position: relative;
}

.title {
  margin-top: 5%;
}

.spacer {
  margin-top: 2%;
}
